*,
*::before,
::after {
  box-sizing: border-box;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  background: #cee6f8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 15px;
  grid-template-columns: repeat(4, 7rem);
  grid-template-rows: minmax(12rem, auto) repeat(5, 6rem);
  background-color: #131c23;
  padding: 50px 30px;
  border-radius: 30px;
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  border: none;
  background-color: #26303a;
  color: #5c96b2;
  border-radius: 15px;
}

.calculator-grid > button:hover {
  background-color: #1794f8;
  color: #d3d4d6;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: #1596fe;
  color: #0d4c92;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 30px;
  height: 20rem;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 15px;
  border: 1px solid red;
}

.output .previous-operand {
  color: #26303a;
  font-size: 4rem;
}

.output .current-operand {
  color: #26303a;
  font-size: 5rem;
}
